.container {
  width: 100%;
  max-width: 1024px;
  margin: 10px auto 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

.main h1 {
  margin-bottom: 14px;
}

.task {
  border: 1.5px solid #909090;
  padding: 14px;
  line-height: 150%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task p {
  white-space: pre-wrap;
  width: 100%;
}

.commentsContainer {
  margin: 18px 0;
  width: 100%;
  margin: 14px;
}

.commentsContainer h2 {
  margin: 14px 0;
}

.comment {
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 14px;
}

.headComment {
  display: flex;
  align-items: center;
}

.commentsLabel {
  background-color: #ccc;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
}

.buttonTrash {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.comment p {
  margin-top: 14px;
  white-space: pre-wrap;
}
